/*-----------------------------------------------
//  Project Default Styles
//  
//  Table of Contents:
//	1.Import
//	2.Typography
//	3.Base 
//	4.Modules
-----------------------------------------------*/

/* --------------------------------------------
1.Import 
-------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Lato:100,400|EB+Garamond:400,500|Noto+Serif+JP|Noto+Sans+JP&display=swap');

/* --------------------------------------------
2.Typography
-------------------------------------------- */
.font-serif {
	font-family: $font-serif;
}

/* --------------------------------------------
3.Base
-------------------------------------------- */
html {
	font-size: 16px;
	width: 100%;
	-webkit-print-color-adjust: exact; /* For print */
	body {
		background-color: $color-bg;
		color: $color-font;
		font-size: 1.5rem;
		font-family: $font-sans-serif;
		font-weight: 400;
		letter-spacing: 0.02em;
		line-height: 1.5;
		@include medium {
			font-size: 2rem;
		}
		::selection {
			background: initial;
		}
		a,
		button {
			cursor: pointer;
			text-decoration: none;
			transition: all 0.3s;
		}
		img {
			width: 100%;
		}
		@include medium {
			a:hover,
			a img:hover,
			button:hover {
				opacity: 0.7;
			}
			.nohover:hover,
			.nohover img:hover {
				opacity: 1;
			}
		}
	}
}

/* --------------------------------------------
4.Modules
-------------------------------------------- */
.link-ul {
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}
.link-color {
	color: $color-link;
}

// Container
.container {
	padding: 0 1.5rem;
	&.sp-full {
		padding: 0;
	}
	@include medium {
		max-width: 1280px;
		margin: 0 auto;
		padding: 0 6rem;
	}
	@include medium-only {
		padding: 0 4rem;
	}
}
.container-narrow {
	padding: 0 1.5rem;
	@include medium {
		max-width: 780px;
		margin: 0 auto;
		padding: 0 6rem;
	}
	@include medium-only {
		padding: 0 3rem;
	}
}
.container-wide {
	padding: 0 1.5rem;
	@include medium {
		padding: 0 6rem;
	}
	@include medium-only {
		padding: 0 3rem;
	}
}

// Visibility
.only-for-medium {
	display: none;
	@include medium {
		display: inline-block;
	}
}
.only-for-small {
	@include medium {
		display: none;
	}
}

// Body Scroll Lock
body.lock {
	overflow: hidden;
}
@include small-only {
	body.lock-sp {
		overflow: hidden;
	}
}

.heading {
	font-size: 2rem;
	margin-bottom: 2rem;
	font-family: $font-serif;
	font-weight: 400;
	@include medium {
		font-size: 2.6rem;
		margin-bottom: 4rem;
	}
}
